/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Inter', sans-serif;
  background: #ffffff;
  color: #1f2937;
}

/* ================= CONTAINER ================= */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* ================= HEADER ================= */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.logo {
  font-size: 28px;
  font-weight: 800;
  color: white;
}

.logo span {
  color: #facc15;
}

.nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  margin: 0 18px;
  letter-spacing: 2px;
  position: relative;
  transition: color 0.3s;
  color: white;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s;
  font-size: 18px;
}

/* Linha animada abaixo do link */
.nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: #facc15;
  transition: width 0.3s ease;
}

.nav a:hover {
  color: #facc15;
  opacity: 0.8;
}

.nav a:hover::after {
  width: 100%;
}

.btn-outline {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 8px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  font-weight: 700;
}

.btn-outline:hover {
  background: #facc15;
  color: black;
  border: 1px solid black;
}

.ver-mais-container {
  text-align: center;
  margin-top: 40px;
}

/* ================= BOTÃO VER MAIS ================= */
.ver-mais-container {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* impede esticar verticalmente */
}

.btn-ver-mais {
  display: inline-block;
  justify-content: flex-end;
  margin-top: 10px;
  padding: 10px 28px;
  width: fit-content;
  border-radius: 50px;
  background: #facc15;
  color: black;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn-ver-mais:hover {
  background: #15803d;
  color: white;
  transform: translateY(-2px);
}

/* ================= CTA FINAL ================= */
.cta-final {
  text-align: center;
  padding: 60px 20px 80px;
}

.cta-button {
  display: inline-block;
  background: #15803d;
  color: white;
  padding: 16px 40px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  margin-top: 20px;
  transition: 0.3s;
}

.cta-button:hover {
  background: #166534;
}
