/* ================= FILTROS ================= */
.filters-section {
  padding: 80px 0 40px;
  text-align: center;
  background: url('../assets/images/background-3.png') center/cover no-repeat;
  position: relative;
  color: #000;
}

.filters-section::before {
  content: "";
  position: absolute;
  inset: 0;
background: rgba(255,255,255,0.5);
  z-index: 0;
}

.filters-section .container {
  position: relative;
  z-index: 1;
}

.filters-section h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.filter-btn {
  padding: 10px 20px;
  border-radius: 25px;
  background: #f0f2f5;
  font-weight: 600;
  transition: 0.3s;
}

.filter-btn:hover,
.filter-btn.active {
  background: #ffc107;
  color: white;
}

.sub-filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.sub-filters select {
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #ddd;
  outline: none;
}