.navbar {
  position: absolute;
  width: 100%;
  padding: 10px 0;
  z-index: 10;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 60px;
  max-height: 60px;
}



.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ffc107;
}

/* HERO */

.hero {
  height: 100vh;
  background: url('../assets/images/background-1.webp') center/cover no-repeat;
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  color: white;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.3)
  );
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero h1 span {
  color: #ffc107;
}

.hero p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  opacity: 0.9;
}

.cta-btn {
  background: linear-gradient(135deg, #ffc107, #ff9800);
  padding: 15px 35px;
  border-radius: 40px;
  font-weight: 700;
  transition: 0.3s;
}

.cta-btn:hover {
  transform: scale(1.05);
}

